<%- Scrum::Setting.tracker_fields(issue.tracker.id, Scrum::Setting::TrackerFields::SPRINT_BOARD_CUSTOM_FIELDS).each do |custom_field_id| -%>
    <%- custom_field = CustomField.find(custom_field_id)
        value = issue.custom_value_for(custom_field_id) -%>
    <%- if value.present? and value.value.present? -%>
        <%= content_tag("div", :title => custom_field.description) do %>
            <span class="post-it-legend"><%= custom_field.name %>:</span>
            <%= h(show_value(value)) %>
        <% end %>
    <%- end -%>
<%- end -%>